<div class="screenshot mt-5 ms-5">
  <!-- <div class="row mb-5">
    <div class="col-md-3 mb-3" *ngFor="let i of allImages">
      <a (click)="redirect(i._id)" style="cursor: pointer">
        <img src="{{ i.screen_shot }}" class="img-fluid" alt="1" />
      </a>
    </div>
  </div> -->
  <div class="row mb-5">
    <div class="col-md-3 mb-3" *ngFor="let result of searchResults">
      <a (click)="redirect(result._id)" style="cursor: pointer">
        <img src="{{ result.screen_shot }}" class="img-fluid" alt="1" />
      </a>
    </div>
  </div>
</div>
