<div class="screenshot mt-5">
  <div class="row mb-5">
    <div class="col-md-3">
      <a (click)="redirect()">
    <img src="/assets/images/image_1.png" alt="1">
  </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_2.png" alt="2">
    </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_3.png" alt="3">
    </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_4.png" alt="4">
    </a>
  </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-3">
      <a (click)="redirect()">
    <img src="/assets/images/image_1.png" alt="1">
  </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_2.png" alt="2">
    </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_3.png" alt="3">
    </a>
  </div>
  <div class="col-md-3">
    <a (click)="redirect()">
      <img src="/assets/images/image_4.png" alt="4">
    </a>
  </div>
</div>
