<div
  class="main"
  style="background-color: #f0f0f0 !important; min-height: 100vh"
>
  <div class="row">
    <div class="col-md-2">
      <section>
        <div class="sidebar">
          <div class="row">
            <div class="col-md-2">
              <img src="/assets/images/logo.svg" alt="logo" class="ms-3" />
            </div>
          </div>
          <p class="para ms-2">Apps</p>
          <div class="group ms-2">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Portfolio</a>
            <a href="">Gallery</a>
            <a href="">Service</a>
            <a href="">Join</a>
            <a href="">Contact</a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="search-area">
              <img
                src="/assets/images/search.svg"
                alt="search logo"
                style="margin-right: -15px"
              />
              <input
                type="text"
                class="btn"
                style="width: 379px"
                placeholder=" | Search screen by name, category and app name"
              />
            </div>
          </div>
        </div>
      </div>
      <hr />
      <h3 class="mt-5">Showing 120 screens from 14 apps</h3>
    </div>
  </div>
</div>
