<div
  class="main mt-2"
  style="background-color: #f0f0f0 !important; min-height: 100vh"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <app-searchbar
          (searchResults)="onSearchResults($event)"
          (searchSuggestionsByBox)="onSearchResultsBox($event)"
        ></app-searchbar>
        <hr />
        <h3 class="mt-5 ms-5">
          Showing {{ searchList.length }} screens from {{ appNum }} apps
        </h3>
        <div class="row me-5">
          <div class="col-md-11 ms-5">
            <app-screenshot
              [searchResults]="searchResults2"
              [searchSuggestionsByBox]="searchResultsBox"
              (searchList)="onSearchList($event)"
            ></app-screenshot>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
